.navbar.navbar-default.navmenu-fixed-left.navbar-left-favorites
  %button.white.navbar-toggle.navbar-toggle-show{"data-canvas" => "body", "data-target" => ".navmenu", "data-toggle" => "offcanvas", :type => "button"}
    %i.fa.fa-star