.navmenu.navmenu-default.navmenu-fixed-left.offcanvas{:style => ""}
  %a.navmenu-brand{:href => "#"} Project name
  %ul.nav.navmenu-nav
    %li
      %a{:href => "../navmenu/"} Slide in
    %li.active
      %a{:href => "./"} Push
    %li
      %a{:href => "../navmenu-reveal/"} Reveal
    %li
      %a{:href => "../navbar-offcanvas/"} Off canvas navbar
  %ul.nav.navmenu-nav
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        Dropdown
        %b.caret
      %ul.dropdown-menu.navmenu-nav
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider
        %li.dropdown-header Nav header
        %li
          %a{:href => "#"} Separated link
        %li
          %a{:href => "#"} One more separated link