%ul.list-group.list-inline
  -full_ancestry(cliq).each do |desc|
    -unless desc.name == 'cliq' || desc.id.blank?
      %li
        =render "shared/cliq", cliq: desc
  -if cliq.id.blank?
    %li
      =link_to '#' do
        %span.cliq-btn
          =cliq.name.capitalize

