.panel.create-new-cliq
  %div
    %p
      We weren't able to find a Cliq with that name.
    %p
      If you would like, you can create this Cliq!
  %ul.history
    -@cliq.ancestors.each do |desc|
      %li
        =link_to cliq_path(desc) do
          %span.cliq-btn
            =desc.name.capitalize
        %span.carrot
          %i.fa.fa-angle-right
    %li
      =link_to cliq_path(@cliq) do
        %span.cliq-btn
          =@cliq.name.capitalize
      %span.carrot
        %i.fa.fa-angle-right
    %li
      %span.cliq-btn
        =@new_cliq.name
  %p
    You will be creating the Cliq at the destination above.
  %p
    If you are sure this is the correct destination, you can being the process by selection "Create"
    below and you will automatically be taken to the brand new board!
    Once there, you will be able to create 'New Thread'. After posting you will have permanently
    created the Cliq.
  %p
    Create a new cliq
    =render "new_form"
