-@replies.each do |reply|
  .well
    .dropdown.pull-right
      -if reply.user
        ="by: #{reply.user.username}"
      -else
        ="by: User has been deleted"
      =render "settings", topicreply:reply  if current_user
    %br
    =reply.body.html_safe


