%ul.list-inline
  %li
    =link_to report_ajax_topic_report_path(@topic), remote:true, data: {toggle:"modal", target:"#report-modal"}, title: "Report" do
      -font_awesome('warning')
  -if can? :update, topicreply
    %li
      =link_to edit_cliq_topic_path(@cliq,@topic) do
        -font_awesome('pencil')
  -if topicreply.is_a?(Topic)
    -if can? :admin, topicreply
      %li.admin-color
        =link_to cliq_topic_path(@cliq,topicreply, topic: {locked:!topicreply.locked}), method: :put, title: "un/lock" do
          -topicreply.locked ? font_awesome('lock') : font_awesome('unlock')
    -if can? :admin, topicreply
      %li.admin-color
        =link_to cliq_topic_path(@cliq,topicreply, topic: {sticky:!topicreply.sticky}), method: :put, title: "un/sticky" do
          -topicreply.sticky ? font_awesome('tag') : font_awesome('thumb-tack')
    -if can? :admin, topicreply
      %li.admin-color
        =link_to cliq_topic_path(@cliq,topicreply, topic: {opened:!topicreply.opened}), method: :put, title: "expand/collapse" do
          -topicreply.opened ? font_awesome('minus-square') : font_awesome('minus-square-o')
  =link_to "Reply", new_cliq_topic_reply_path(@cliq,@topic)
