%tr.topic
  %td
    =get_interest(topic.exp)
    -if topic.locked?
      %i.fa.fa-lock
  %td
    =link_to topic.subject, cliq_topic_path(topic.cliq, topic)
  %td
    =render "shared/cliq", cliq: topic.cliq
  -if @admin
    %td
      =topic.reports