=render "reply_bar", topic:@topic
.modal.fade#report-modal
.well
  =render "shared/cliq_top", cliq: @cliq if current_user
  -if @topic.active?
    =render "first_post"
    =render "replies"
  -else
    =render "removed"