%button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
  %span.sr-only
    Toggle navigation
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
%ul.nav.navbar-nav
  %li
    =link_to cliqs_path, class:'navbar-brand' do
      =image_tag "logo.png", size: "60x28"
