%h2= "#{@user.username} Profile"
%table.table.table-bordered
  %tr
    %td Latest Posts
    %td
      -posts = (@replies + @topics).sort_by(&:created_at).reverse!
      -posts.each do |post|
        %ul
          %li
            -if Topic == post.class
              %i.fa.fa-user
              =link_to post.subject, cliq_topic_path(post.cliq, post)
            -elsif Reply == post.class
              %i.fa.fa-reply-all.fa-rotate-180
              =link_to post.topic.subject, cliq_topic_path(post.topic.cliq, post.topic)
    -if try(:current_user)
      -if current_user.slug == @user.slug
        %tr
          %td Actions
          %td
            = link_to("Change Settings", edit_user_registration_path, :class => "btn btn-default")