%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
/ Cliq!
%ins.adsbygoogle{"data-ad-client" => "ca-pub-8046485864415405", "data-ad-slot" => "7054440488", :style => "display:inline-block;width:300px;height:600px"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});