-if cliq.ancestors.count < 2
  -bgcolor = cliq.color
-else
  -bgcolor = cliq.ancestors[1].color
.cliq
  =link_to cliq_path(cliq) do
    .cliq-color{style: "background-color: ##{bgcolor}"}
    =cliq.name
