.topic-cliq-name
  -unless cliq.try(:ancestors).empty?
    -parent_id = cliq.ancestry.split('/').last
  -if parent_id
    =link_to cliq_path(parent_id) do
      %i.fa.fa-level-up
  =cliq.name.capitalize
  =render 'favorites/star', cliq:cliq unless @topic
  .pull-right.info-bar
    =render "cliqs/cliq_body/info_bar"
