.mario-container
  %br
  %h4
    Welcome to Mario Maker Review! (name change pending?)

  %p
    I created this site so that we can share levels in an easier fashion, and rate levels based on 3 main attributes.

  %p
    %b Fun:
    Is the level fun?!  Pretty simple.

  %p
    %b Puzzle:
    Is your level a totally thought-provoking?  Does it require some trial and error, or is the player going to have to worry about running up the 500 second timer?

  %p
    %b Difficulty:
    This is for those levels that you just KNOW are going to cost you some lives. Lots of enemies, or just a devilishly laid out stage!
%hr
.mario-container
  %p
    I built this site on top of another site I am working on,
    =link_to "Cliq", cliq_path(1)
  %p
    I didn't want to recreate a whole site when I could use the account set up I made for the other site! So, try and enjoy both!
  %p
    If you'd like to discuss this site, I recommend doing it at the following:
    %a{href: "http://www.cliqboards.com/c/mario-maker-review" }Cliq! Mario Maker
