
%nav.navbar.navbar-default{role:'navigation'}
  .container
    .container-fluid
      .navbar-header
        =render "layouts/application/cliq_bar/cliq_brand" if @cliq
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          =render "layouts/application/cliq_bar/cliq_history" if @cliq.present?
        .col-sm-3.col-md-3.nav-input
          =render "layouts/application/cliq_bar/cliq_search" if @cliq.present?
        %ul.nav.navbar-nav.navbar-right
          =render "layouts/application/cliq_bar/account"
=render "layouts/application/cliq_bar/categories"