= simple_form_for @new_cliq do |f|
  =f.hidden_field :parent_id, value: @cliq.id
  =f.hidden_field :name, value: @new_cliq.name
  -if current_user.admin?
    =f.label :is_category?
    %br
    =f.check_box :is_category
    =f.input :color, as: :minicolors, input_html: {data: {minicolors: {theme: :bootstrap}}}
  %div.actions
    =f.submit class:"btn btn-default"
