.mario-header {
  background-color: #efd63b;
  height: 170px;
  position: relative;
//  background-image: url(mario_side.png);
}

.mario-nav {
  border-top: 2px solid #ff0000;
  background-color: #efd63b;
  overflow: hidden;
  height: 50px;
}

.mario-owned {
  display: inline-block;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  background-color: #efc36c;
}

.mario-nav-links {
  position:relative;
  margin-right: 40px;
  margin-top: 120px;
}

.mario-account {
  float:right;
}

.mario-rate {
  display: inline-block;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  background-color: #43e7ef;
}

.slider {
  padding-right: 10px;
}

.slider-selection {
  background: #efd63b!important;
}

.mario-level-left {
  float:left;
  width: 400px;
}

.label-width {
  width: 100px!important;
}

.mario-container {
  margin-top: 30px;
  margin-left: 100px;
}
.mario-table {
  th {
    cellspacing: 10px;
  }
  tr {
    padding: 10px;
  }
}

.mario-level-row {
  margin-bottom: 20px;
}


.mario-level-image {
  min-width: 160px;
}

.mario-level-body {
  margin-left: 15px;
  a {
    font-size: 18px;
  }
}

.mario-level-owner {
  vertical-align: bottom;
  a {
    font-size: 12px;
  }
}

.level-id {
  color: white;
  font-weight: bold;
  background-color: #00c61b;
  border-radius: 3px;
  padding: 0px 5px;
  float:left;
  margin-right: 5px
}

.mario-level-ranks {
  margin-top: 5px;
}

.fun-rank {
  color: white;
  font-weight: bold;
  background-color: #ff5b00;
  border-radius: 3px;
  padding: 0px 5px;
  float:left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.puzzle-rank {
  color: white;
  font-weight: bold;
  background-color: #d9a247;
  border-radius: 3px;
  padding: 0px 5px;
  float:left;
  margin-right: 5px;
}

.difficulty-rank {
  color: white;
  font-weight: bold;
  background-color: #1b6eb2;
  border-radius: 3px;
  padding: 0px 5px;
  float:left;
  margin-right: 5px;
}

.overall-rank {
  color: white;
  font-weight: bold;
  background-color: #6a5d54;
  border-radius: 3px;
  padding: 0px 5px;
  float:left;
  margin-right: 5px;
}

.level-filter {
  float:left;
  padding-right: 10px;
}

.mario-brand {
  padding-top: 20px;
  float:left;
}

@media (max-width: 768px) {
  .navbar-mario {
    display: none;
  }
  .navbar-2 {
    left: 220px;
    bottom: 30px;
    position:absolute;
    display: block!important;
  }
}

.mario-welcome {
  margin-top: 30px;
}

.mario-complete {
  float:left;
  margin-top:2px;
  margin-right: 5px;
}