.recent-container-inner{
  top: 1px;
  margin: 0px 20px;
}
.recent-container-outer{
  position:relative;
  margin: 0 auto;
}

.owl-item:first-of-type {
  border-left: 1px solid #e7e7e7;
}

.item{
  padding: 5px 10px;
  position:relative;
  .item-border {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:-1;
    border-right: 1px solid #e7e7e7;
  }
}

.recent-active {
  background-color: white;
  border-bottom: 2px solid #fff;
  border-top: 1px solid #e7e7e7;
}

.recent-inactive {
  border-top: 1px solid #e7e7e7;
}


.customNextBtn {
  padding-top: 7px;
  cursor: pointer;
  text-align: center;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 20px;
  &:hover {
    background-color:#d3d3d3;
  }
}

.customPrevBtn {
  padding-top: 7px;
  cursor: pointer;
  text-align: center;
  height: 100%;
  cursor: pointer;
  position: absolute;
  min-width: 20px;
  bottom: 0;
  left: 0;
  &:hover {
    background-color:#d3d3d3;
  }
}

.recent-bottom-border {
  z-index: -2;
  position : absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #e7e7e7;
  height: 1px;
}