.fun-rank
  Fun:
  =level.fun_rank ? level.fun_rank : "?"
.puzzle-rank
  Puzzle:
  =level.puzzle_rank ? level.puzzle_rank : "?"
.difficulty-rank
  Difficulty:
  =level.difficulty_rank ? level.difficulty_rank : "?"
.overall-rank
  Overall:
  =level.overall_rank ? level.overall_rank : "?"