-if @mario_level.created_at > 1.hour.ago
  =render "mario_levels/level_form"
-else
  Too much time has passed to edit.  Please edit within 1 hour of posting!
  If you want to edit, head to
  %a{href: "http://www.cliqboards.com/c/mario-maker-review" }Cliq! Mario Maker
  and make a post requesting an edit.  I will make exceptions for good reason!