.recent-container-outer.noselect
  .recent-bottom-border
  .recent-previous.customPrevBtn.pull-left
    %i.fa.fa-arrow-left
  .recent-container-inner
    .owl-carousel
      -session[:cliq_ids].each do |cliq_id|
        -cliq = Cliq.find(cliq_id)
        .item
          =render "shared/cliq_tab", cliq: cliq
          .item-border{class: "#{category_is_active?(cliq) ? 'recent-active' : 'recent-inactive'}"}
      .item
        =link_to 'clear', do_reset_session_favorites_path
  .recent-next.customNextBtn.pull-right
    %i.fa.fa-arrow-right

:javascript
  $('.owl-carousel').owlCarousel({
    autoWidth: true,
  });
  var owl = $('.owl-carousel');
  $('.customNextBtn').click(function() {
    owl.trigger('next.owl.carousel');
  })
  $('.customPrevBtn').click(function() {
    owl.trigger('prev.owl.carousel', [300]);
  })

  var owl = $('.owl-carousel');
  owl.on('initialized.owl.carousel', function() {
    var owlCarousel = owl.data('owlCarousel');
    var $stage = owl.find('.owl-stage');
    var fullWidth = 0;
    $stage.find('.owl-item').each(function(i, e) {
      fullWidth += $(e).width() + owlCarousel.options.margin * 2;
    });
    $stage.width(fullWidth);

  });