%li
  = link_to "Filter:", cliq_path(@cliq)
-if can? :update, @cliq
  %li
    = link_to admin_cliq_path(@cliq) do
      %i.fa.fa-user
%li
  = link_to cliq_path(@cliq, :filter => "popular") do
    %i.fa.fa-thumbs-up