-@stickies.each do |sticky|
  %tr.sticky
    %td
      =get_interest(sticky.exp)
      -if sticky.locked?
        %i.fa.fa-lock
      %i.fa.fa-thumb-tack
    %td
      %div
        =link_to sticky.subject, cliq_topic_path(@cliq,sticky)
      -if sticky.opened?
        %div
          =sticky.body.html_safe
    %td
      =render "shared/cliq", cliq: sticky.cliq
    -if @admin
      %td
        =sticky.reports