.topic-cliq-name
  -unless @cliq.try(:ancestors).empty?
    -parent_id = @cliq.ancestry.split('/').last
  -if parent_id
    =link_to parent_id do
      %i.fa.fa-level-up
  =@cliq.name.capitalize
.pagination-container
  =paginate @topics
%table.table.table-striped#topics
  %thead
    %tr#topics
      %th
        .subject
          Subject
      %th
        Interest
      %th
        Category
      -if @admin
        %th
          Reports
  %tbody.topic-page
    =render @topics
