%table.table.table-striped
  %thead
    %tr
      %th
        Subject
      %th
        Interest
      %th
        Category
      -if @admin
        %th
          Reports
  %tbody
    -topics.each do |t|
      %tr
        %td
          =link_to t.subject, topic_path(t)
        %td
          =t.exp
        %td
          =render "shared/cliq", desc: t.cliq
        -if @admin
          %td
            =t.reports
