=render "shared/cliq_top", cliq:@cliq
.pagination-container
  =paginate @topics
%table.table.table-striped#topics
  %thead
    %tr#topics
      %th
        .subject
          Subject
      %th
        Interest
      %th
      -if @admin
        %th
          Reports
  %tbody.topic-page
    =render "cliqs/cliq_body/stickies"
    =render @topics
