=paginate @topics
%table.table.table-striped#topics
  %thead
    %tr#topics
      %th
        Subject
      %th
        Interest
      %th
        Category
      -if @admin
        %th
          Reports
  %tbody.topic-page
    =render @topics
